<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NgTest - practise making Web with Angular</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="ng/runtime.js"></script>
<script type="text/javascript" src="ng/es2015-polyfills.js" nomodule></script>
<script type="text/javascript" src="ng/polyfills.js"></script>
<script type="text/javascript" src="ng/styles.js"></script>
<script type="text/javascript" src="ng/vendor.js"></script>
<script type="text/javascript" src="ng/main.js"></script>
</body>
</html>
